{
    "extends": "airbnb",
    "rules": {
        "no-console": 0,
        "indent": ["error", 4],
        "import/no-dynamic-require": 0,
        "no-confusing-arrow": 0
    },
    "globals": {

    }
}