<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <style>
            body {
                background-color: yellow;
                color: red;
                font-size: 5vh;
            }
        </style>
    </head>
    <body>
        <h3>{{pageTitle}}</h3>
        <p>{{welcomeMessage}}</p>
        <footer>
            <p><small>Copyright {{currentYear}}</small></p>
        </footer>
    </body>
</html>